{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-3 phones" >
       
    </div>
    <div class="col-md-6 panel-form" >
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}
      <div class="panel panel-default">

        <div class="panel-heading" style="background-color: white;">
          <h3 class="text-center" style="color: #118aa0;">
              <img src="https://k2imagesblob.blob.core.windows.net/content/media/images/new-product-images/cups/AMC303-Blue-Star-Trophy-Cup-on-Marble-Base.png" class="logo" alt="">
              Awwards
          </h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group" style=" width: 100%;">
                <input type="submit" class="btn" value="Login"  style="align-items: center; width: 100%; background-color: #118aa0; color: white;" >
            </div>
              
            

            <input type="hidden" name="next" value="{{next}}">

          </form>
          <div class="sign-up">
             <span class="p">Don't have an account?</span>
               
             <a href="/accounts/register/" class="ml-2" style="color:#118aa0;">Sign Up</a>
        </div>

        </div>

      </div>

    </div>
    <!-- empty div -->
    <!-- <div class="col-md-3"></div> -->
  </div>
</div>

{% endblock %}